# Prerequisites
*.d

# old text editor files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.vcxproj.user
*.bsc
*.pdb
.vs
obj
*.exp

# CLion
.gitignore
.idea
cmake-build-debug
cmake-build-release
CMakeLists.txt
.dropbox.attr

# VSCode
.vscode

# OTHER
Makefile.def
PlainConcrete.f
forumat.f
Damage2p.cpp
Damage2p.h
Damage2p3D.cpp
Damage2p3D.h
Damage2pThanh.tar
Damage2ppstress.cpp
Damage2ppstress.h
Faria1998.cpp
Faria1998.h
Faria1998PlaneStrain.cpp
Faria1998PlaneStrain.h
Faria1998PlaneStress.cpp
Faria1998PlaneStress.h
Faria1998PlaneStress2d.cpp
Faria1998PlaneStress2d.h
Faria1998ThreeDimensional.cpp
Faria1998ThreeDimensional.h
SRC/interpreter/pythonInterpreter
SRC/interpreter/tclInterpreter
SRC/interpreter/openseespy
SRC/interpreter/openseestcl
/SRC/element/elasticBeamColumn/ElasticBeam3d - 副本.cpp
/Win64/proj/optimization/x64/Release_2019
/Win64/proj/recorder/x64/Release_2019
/Win64/bin
/Win64/lib/debug
/Win64/proj/openSees/158B3-2
/Win64/proj/openSees/1B-1-1
/Win64/proj/openSees/35XW4
/Win64/proj/openSees/40XXW3-1
/Win64/proj/openSees/42XXW4-1
/Win64/proj/openSees/6B-3-1
/Win64/proj/openSees/74L-1-2-b
/Win64/proj/openSees/truss
/Win64/proj/openSees/test1220
/Win64/proj/openSees/99HB3-12L-T50
/Win64/proj/openSees/97HB3-6L-T100
/Win64/proj/openSees/90LL-11
/Win64/proj/openSees/8B-3-3
/Win64/proj/openSees/75L-1-2-c
/Win64/proj/openSees/x64/Release_2019/OpenSees.tlog
/Win64/proj/openSees/x64/Release_2019/OpenSees.res
/Win64/proj/openSees/x64/Release_2019/OpenSees.log
/Win64/proj/openSees/Function.tcl
/Win64/proj/openSees/dispCantileverProc.tcl
/Win64/proj/openSees/CantileverProc.tcl
/Win64/proj/openSees/AIDMHY.model
/Win64/proj/openSees/AIDMCantileverProc.tcl
/Win64/proj/openSees/AIDMBB.model
/Win64/proj/openSees/AIDMBackbone.model
/Win64/proj/openSees/99HB3-12L-T50.txt
/Win64/proj/openSees/99B.tcl
/Win64/proj/openSees/99.tcl
/Win64/proj/openSees/97HB3-6L-T100.txt
/Win64/proj/openSees/97B.tcl
/Win64/proj/openSees/97.tcl
/Win64/proj/openSees/90LL-11.txt
/Win64/proj/openSees/90.tcl
/Win64/proj/openSees/8B-3-3.txt
/Win64/proj/openSees/8.tcl
/Win64/proj/openSees/75L-1-2-c.txt
/Win64/proj/openSees/75B.tcl
/Win64/proj/openSees/75.tcl
/Win64/proj/openSees/74L-1-2-b.txt
/Win64/proj/openSees/74B.tcl
/Win64/proj/openSees/74.tcl
/Win64/proj/openSees/6B-3-1.txt
/Win64/proj/openSees/6.tcl
/Win64/proj/openSees/42XXW4-1.txt
/Win64/proj/openSees/42.tcl
/Win64/proj/openSees/40XXW3-1.txt
/Win64/proj/openSees/40B.tcl
/Win64/proj/openSees/40.tcl
/Win64/proj/openSees/35XW4.txt
/Win64/proj/openSees/35B.tcl
/Win64/proj/openSees/35.tcl
/Win64/proj/openSees/2_SectionMesh.tcl
/Win64/proj/openSees/1B-1-1.txt
/Win64/proj/openSees/1B-1-1.tcl
/Win64/proj/openSees/158B3-2.txt
/Win64/proj/openSees/158.tcl
/Win64/proj/openSees/TEST5.tcl
/Win64/proj/openSees/TEST4.tcl
/Win64/proj/tcl/x64/Release_2019/tcl.tlog
/Win64/proj/tcl/x64/Release_2019
/Win64/proj/openSees/GM1
/Win64/proj/openSees/GroundMotion
/Win64/proj/openSees
